# ==========================================
# 1. Virtual Environments & Local Runtimes
# ==========================================
capenv/
dzakaenv/
dzakanenv/
evalenv/
java_libs/
env/
venv/
.venv/

# ==========================================
# 2. Python & Jupyter Cache
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# ==========================================
# 3. Model Weights & Large Binaries (Global)
#    (Menjaga file deploy, script, & config tetap amaan)
# ==========================================
models/
skripsi/models/
experiment/models/
*.safetensors
*.pth
*.pt
*.bin
*.ckpt
*.h5

# ==========================================
# 4. Large Raw Dataset Images (CSV Captioning tetap masuk)
# ==========================================
dataset/baru_captioning/
dataset/image_genbatik/
dataset/all_images_captioning/
dataset/test/
dataset/**/*.jpg
dataset/**/*.jpeg
dataset/**/*.png
dataset/**/*.webp
dataset/**/*.JPG
dataset/**/*.PNG
dataset/**/*.JPEG
foto/
*.zip
*.tar.gz

# ==========================================
# 5. Local Training Logs
# ==========================================
logs/
*.log

upload_model.py